*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
button{
  border: 1px solid transparent;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}